@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


@import "tailwindcss";
@plugin "daisyui";

.sawarabi-gothic-font{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
