@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  color-scheme: light; /* color of browser-provided UI */

  --color-primary: #0000FF;

}

.sawarabi-gothic-font{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
